@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    font-family: 'Kaushan Script';
}

header{
    background: #353535;
    height: 50px;
}
a, a:hover{
    text-decoration: none;
    font: bold;
}
.navbar-brand{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 2.0rem;
}

.nav-link{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 1.20rem;
    color: #fff;
}

.container-fluid{
    background: #bdbaba;
    height: 100%;
}

.container h1{
    color: rgb(12, 11, 11);
}

.img-fluid{
    width: 300px;
}

.text-left{
    color: rgb(7, 6, 6);
    font-family: sans-serif;
    font: bold;
}

.footer{
    position: relative;
    color: #fff;
    clear: both;
    height: 90px;
    padding-top: 20px;
    font-size: 25px;
}

.dsmovie-container h1{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans';
    font: 700;
    padding-left: 5em;
    margin: 0em;
}

.dsmovie{
    height: 400px;
    width: 600px;
}