@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');

*{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

header{
    background: #353535;
    height: 50px;
}
a, a:hover{
    text-decoration: none;
    font: bold;
}
.navbar-brand{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}


body main{
    max-height: 100%;
}

.container-fluid{
    background: #bdbaba;
    height: 105%;
}

.container-row h1{
    color: rgb(12, 11, 11);
    top: 0;
    left: 0;
    position: relative;
    display: grid;
}

.profile{
    width: 200px;
    display: flex;
    align-items: center;
}

.profile-text{
    font-size: 20px;
    font-weight: bold;
}

.profile-text a{
    text-decoration: none;
    color: black;
}

.text-left{
    color: rgb(7, 6, 6);
    font-family: sans-serif;
    font: bold;
}

.card-container{
    width: 100%;
    padding: 15px 10px;
}

.ds-card-container{
    width: 100%;

}

.row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer div p{
    font-size: 25px;
}


